html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #E2E2E2;
  color: #555;
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
  line-height: 140%;
  padding:0px;
  margin:0px;
}



h2 {
  margin: 15px 0 10px 0;
  padding: 0 10px;
}

p {
  padding: 0 10px;
}

#log {
  display: block;
  width: 450px;
  height: 300px;
}

#message {
  width: 400px;
}
#commands, #instructions {
  display: none; width: 400px;
}


#emergencyStop {
  position:absolute;
  bottom: 140px; right: 20px;
  background: #E74C3C;
  color:#fff;
}

#emergencyStop:hover {
  background: #B41909;
}

#battery {
  height: 100px; width: 50px; 
  position: absolute;
  background: #7F8C8D;
  bottom: 20px; right: 20px;
}

#battery_label{
  position:absolute;
  top: 100px; width: 50px;
  text-align: center;
  font-size: 9pt;
}

#battery_state {
  position:absolute;
  bottom: 0; left: 0;
  width: 50px; height: 0px;
  background-color: green; text-align: center; color: white;
  overflow: hidden;
}

#altitude {
  height: 400px; width: 250px; background-color: white; border: 0; position: absolute; top:20px; right: 80px;
}

#drone_alt {
  display: block;
  position: absolute;
  left: 50px;
  bottom: 0;
}

#orientation {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 60px;
  right: 80px;
  -webkit-perspective: 800; perspective: 800;
}

#orientation_drone {
  display: block;
}

#notifications {
  padding:30px;
  text-align: center;
}

.error {
  background: #E74C3C;
  color:#fff;
}

.success {
  background: #27AE60;
  color:#fff;

}

#header {
  background:#2C3E50;
  color:#fff;
  padding:20px;
  text-align: center;
}

#header h1 {
  color: #95A5A6;
  font-weight: normal;
  font-size:32px;
  font-weight:100;
}

#content {
  padding: 30px;
}

.btn {
  background:#2C3E50;
  padding:10px 20px;
  color: #fff;
  border: 0px;

}

input {
  padding: 10px;
}

.btn:hover {
  background:#2980B9;
}

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}
